.popup {
    -fx-background-color : transparent;
}

.time-picker-popup {
    -fx-padding : 10px;
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 5, 0 , 0 , 1 );
}

.time-picker-popup {
      -fx-background-color: white;
      -fx-background-color: linear-gradient(to bottom, #00c6ff, #0072ff);
}
