

.close-button {
    -fx-background-color : transparent;
    -fx-border-color : -light-gray-2;
    -fx-border-width : 2px;

    -fx-max-width : 30px;
    -fx-max-height : 30px;
    -fx-min-width : 30px;
    -fx-min-height : 30px;
}

.close-button .icon {
    -fx-fill : -medium-gray-2;
    -fx-scale-x : 0.7;
    -fx-scale-y : 0.7;
}

.key-button {
    -fx-background-color : derive(-mint, 80%);

}

.key-button .icon {
    -fx-fill : -mint;
}

.title {
    -fx-text-fill : -elegant;
}

.custom-text {
    -fx-fill : -dark-gray;
}
