



.list-view {
    -fx-fixed-cell-size : 50;
    -fx-focus-color : transparent;
    -fx-faint-focus-color : transparent;
    -fx-background-color : transparent;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell
{
    -fx-background-color : -background-color;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:selected,
.list-view .virtual-flow .clipped-container .sheet .list-cell:selected .text
{
     -fx-background-color : -base;
     -fx-fill : white;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover,
.list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover .text
{
     -fx-background-color : -light-gray;
     -fx-fill : gray;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell .text
{
    -fx-fill : black;
}

.popup {
    -fx-padding : 0px;
    -fx-background-color : white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
    -fx-border-color : derive(gray, 85%);
    -fx-border-radius : 5px;
    -fx-background-radius : 5px;
    -fx-border-style : solid inside;
    -fx-border-width : 1px;
}

